/* purgecss start ignore */
@tailwind base;
@tailwind components;

.btn {
  @apply text-white font-bold border border-gray-800 bg-gray-800 px-5 py-3 leading-tight rounded;
  white-space: nowrap;
}

.btn:focus {
  @apply outline-none border-indigo-900;
}

.btn:active {
  transform: translateY(1px);
}

.btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}

.btn-sm {
  @apply px-3 py-2 text-sm;
}

.btn-xs {
  @apply px-2 py-1 text-sm;
}

.btn-lg {
  @apply px-6 py-4 text-lg;
}

.btn-transparent {
  @apply border-transparent bg-transparent;
}

.btn-outline {
  @apply bg-white text-indigo-600;
}

.btn-red-outline {
  @apply bg-white text-red-600 border-red-600;
}

.btn-red-outline:focus {
  @apply outline-none border-red-900;
}

.btn-red {
  @apply bg-white text-red-600 border-red-200 bg-red-200;
}

.btn-purple {
  @apply bg-purple-600 border-purple-600;
}

.input-field {
  @apply p-4 border border-gray-200 bg-gray-200 leading-tight rounded;
}

.input-field:focus,
.input-field:focus-within {
  @apply bg-white border-gray-500 outline-none;
}

.input-field-inverse {
  @apply p-4 border border-transparent bg-gray-400 leading-tight rounded;
}

.input-field::placeholder,
.input-field-inverse::placeholder {
  @apply text-gray-800;
}

.input-field-inverse:focus,
.input-field-inverse:focus-within {
  @apply bg-white outline-none;
}

/* purgecss end ignore */

@tailwind utilities;

/* purgecss start ignore */

.ml-40p {
  margin-left: 40%;
}

.bg-code {
  @apply bg-gray-800;
}

.hang {
  margin-left: 1rem;
  text-indent: -1rem;
}

.bg-gray-stripes {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 10 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23CBD5E0' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0,7.5 L2.5,5 L7.5,0 L10,2.5 L2.5,10 L0,7.5 Z'/%3E%3C/g%3E%3C/svg%3E");
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  25% { transform: scale(.97); }
  35% { transform: scale(.9); }
  45% { transform: scale(1.1); }
  55% { transform: scale(.9); }
  65% { transform: scale(1.1); }
  75% { transform: scale(1.03); }
  100% { transform: scale(1); }
}

.heartbeat {
  animation: heartbeat 2s infinite;
}

hover\:bg-transition:hover {
  transition: background-color 1s linear;
}

/* purgecss end ignore */
