.markdown {
  @apply leading-relaxed text-gray-700;
}

.markdown > h1 {
  @apply mb-6 text-4xl font-bold leading-snug tracking-tight text-gray-900;
}

.markdown > h2 {
  @apply mt-12 mb-4 text-2xl font-bold tracking-snug text-gray-900;
}

.markdown > h2 code {
  @apply text-xl;
}

.markdown > h3 {
  @apply mt-8 mb-3 text-xl font-semibold tracking-snug text-gray-900;
}

.markdown > h3 code {
  @apply text-lg;
}

.markdown > h4 {
  @apply mt-8 mb-3 text-lg font-semibold tracking-snug text-gray-900;
}

.markdown > h4 code {
  @apply text-base;
}

.markdown > p > a,
.markdown > ul > li > a,
.markdown > ol > li > a,
.markdown > table > tbody > tr > td > a {
  @apply text-indigo-600 font-semibold;
}

.markdown > p,
.markdown > ul,
.markdown > ol,
.markdown > blockquote,
.markdown > pre,
.markdown > div > .code-block {
  @apply mb-6;
}

.markdown > ul,
.markdown > ul > li > ul {
  @apply ml-8 list-disc;
}

.markdown > ol {
  @apply ml-8 list-decimal;
}

.markdown > pre,
.markdown > div > .code-block > pre {
  color: #f8f8f2;
  overflow: auto;
}

.markdown > table {
  @apply mb-6 w-full text-gray-700 text-sm;
}

.markdown > table > thead > tr {
  @apply border-b border-t;
}

.markdown > table > thead > tr > th {
  @apply px-3 py-2 text-left text-sm font-bold bg-gray-100 text-gray-700;
}

.markdown > table > tbody > tr {
  @apply border-b;
}

.markdown > table > tbody > tr > td {
  @apply p-3;
}

.markdown > :not(pre):not(h3) > code,
.markdown > ul > li > code,
.markdown > ul > li > ul > li > code,
.markdown > p a > code,
.markdown > table > tbody > tr > td:not(:first-child) > code {
  @apply bg-gray-300 rounded-full px-2 text-sm;
  margin-left: 2px;
  margin-right: 2px;
  padding-top: 2px;
  padding-bottom: 2px;
  word-break: keep-all;
}

.markdown > table > tbody > tr > td:not(:first-child) > code {
  @apply text-xs;
}

.markdown > table > tbody > tr > td > a > code,
.markdown > table > tbody > tr > td > code {
  @apply text-sm;
}

.markdown > h2 > code {
  @apply text-xl;
}

.markdown > .markdown ul {
  @apply list-disc;
}

.markdown > hr {
  @apply my-6 block border-b;
}
